## Data cleaning 

First, load the data and show the first rows to see how it looks like. 

It contians information from transactions from a UK retailer. The fields are: 
- InvoiceNo: purchase identifier
- StockCode: product identifier
- Description: description of the product
- Quantity: amount of items for that product that are contained in the purchase
- InvoiceDate: date of the purchase
- UnitPrice: price of the product
- CustomerID: customer identifier 
- Country: country that purchase took place

In [8]:
import pandas as pd
df = pd.read_csv("ecommerce-data.csv", encoding="ISO-8859-1")
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

## Missing values
See if the data contains missing information.

In [9]:
#Check missing values
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

Description and CustomerID have empty values. So, the following strategies are applied to resolve each case.  
- For the description, fill NAs values with an empty string.  
- For the CostomerID, as it is an identifier remove those rows.

In [10]:
df['Description'].fillna('', inplace=True)
df.dropna(0, inplace=True)

## Transformations

If the Invoice number starts with 'C' means that corresponds to a cancellation. So, if we count the number of cancellations, we can see that there are many cancellations.

In [11]:
df[df['InvoiceNo'].str.startswith('C')]['InvoiceNo'].count()

8905

So, we can add column to have the information if it is cancelled or not.

In [12]:
#add column cancelled
df['cancelled'] = df['InvoiceNo'].str.startswith('C').astype('int32')
df['cancelled'].unique()

array([0, 1])

Save the dataframe into a file

In [13]:
df.to_csv('cleaned_data.csv', index=False)